{% extends "layout.html" %}
{% block content %}
    <div class="content-section text-left mx-3 px-3">
        <h2>Doctor Dashboard</h2>
        <p>Welcome, Doctor! Please log in a patient below.</p>
        <form method="POST" action="{{ url_for('login_patient') }}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In a Patient</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group pt-3">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
