{% extends "layout.html" %}
{% block content%}

<!-- partial:index.partial.html -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-10 col-md-10 col-lg-11 col-xl-11 text-center p-0 mt-1 mb-2">
            <divc class="card px-10 pt-4 pb-10 ml-4 mr-4 mt-1 mb-3">
                <h2 id="heading">Fill in Patient Details</h2>
                <p>Fill all form field to go to next step</p>
                <form id="msform" method="post" action="/predict">
                    <!-- progressbar -->

                   
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Demographics</strong></li>
                        <li id="personal"><strong>Medical History</strong></li>
                        <li id="personal"><strong>Blood & Urine Tests</strong></li>
                        <li id="confirm"><strong>Pregnancy Data</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br> <!-- fieldsets -->
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Patient Data:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 1 - 4</h2>
                                </div>
                            </div> 
                                <label class="fieldlabels">AGE: *</label> 
                                <input type="text" name="age" placeholder="Age" /> 
                                <label class="fieldlabels">GESTATIONAL AGE: *</label> 
                            <input type="number" name="gest_age" placeholder="Enter Gestational Age" required /> 
                                <label class="fieldlabels">HEIGHT: *</label> 
                                <input type="number" name="height" placeholder="Height" /> 
                                <label class="fieldlabels">WEIGHT: *</label> 
                                <input type="number" name="weight" placeholder="Weight" /> 
                                <label class="fieldlabels">BMI: *</label> 
                                <input type="number" name="bmi" placeholder="Mother's BMI" />
                                <label class="fieldlabels">SYSTOLIC BLOOD PRESSURE (mmHg): *</label> 
                                <input type="number" name="sysbp" placeholder="Enter Systolic BP" required /> 

                                <label class="fieldlabels">DIASTOLIC BLOOD PRESSURE (mmHg): *</label> 
                                <input type="number" name="diabp" placeholder="Enter Diastolic BP" required /> 

                                <label class="fieldlabels">HEMOGLOBIN (g/dL): *</label> 
                                <input type="number" step="0.01" name="hb" placeholder="Enter Hemoglobin Level" required /> 
                                
                                <label class="fieldlabels">PACKED CELL VOLUME (%): *</label> 
                                <input type="number" step="0.01" name="pcv" placeholder="Enter PCV" required /> 
                                
                                <label class="fieldlabels">THYROID-STIMULATING HORMONE (mIU/L): *</label> 
                                <input type="number" step="0.01" name="tsh" placeholder="Enter TSH Level" required /> 
                                
                                <label class="fieldlabels">PLATELET COUNT (cells/mcL): *</label> 
                                <input type="number" name="platelet" placeholder="Enter Platelet Count" required /> 
                                
                                <label class="fieldlabels">CREATININE (mg/dL): *</label> 
                                <input type="number" step="0.01" name="creatinine" placeholder="Enter Creatinine Level" required /> 
                                
                                <label class="fieldlabels">PlGF:sFlt RATIO: *</label> 
                                <input type="number" step="0.01" name="plgf:sflt" placeholder="Enter Placental Growth Factor Ratio" required /> 
                                
                                <label class="fieldlabels">Soluble Endoglin (SEng): *</label> 
                                <input type="number" step="0.01" name="SEng" placeholder="Enter Soluble Endoglin Level" required /> 
                                
                                <label class="fieldlabels">Cystatin C (mg/L): *</label> 
                                <input type="number" step="0.01" name="cysC" placeholder="Enter Cystatin C Level" required /> 
                                
                                <label class="fieldlabels">PP13 (Placental Protein 13): *</label> 
                                <input type="number" step="0.01" name="pp_13" placeholder="Enter PP13 Level" required /> 
                                
                                <label class="fieldlabels">GLYCERIDES (mg/dL): *</label> 
                                <input type="number" step="0.01" name="glycerides" placeholder="Enter Glycerides Level" required /> 

                                
                            </div> 
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Personal Information:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 2 - 4</h2>
                                </div>
                                </div> 
                                <label class="fieldlabels">HYPERTENSION: *</label>
                                <input type="text" name="htn" placeholder="1 for Yes, 0 for No" /> 
                                <label class="fieldlabels">DIABETES: *</label> 
                                <input type="text" name="diabetes" placeholder="1 for Yes, 0 for No" /> 
                                <label class="fieldlabels">FAM_HTN: *</label> 
                                <input type="text" name="fam_htn" placeholder="Family History of Hypertension" /> 
                                <label class="fieldlabels">SP_ART: *</label> 
                                <input type="text" name="sp_art" placeholder="Systolic Arterial Pressure" />
                            </div> 
                        <input type="button" name="next" class="next action-button" value="Next" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Patient Data:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 3 - 4</h2>
                                </div>
                            </div> 
                             <label class="fieldlabels">OCCUPATION: *</label> 
                            <input type="text" name="occupation" placeholder="Number of Occupations" />
                            <label class="fieldlabels">DIET: *</label> 
                            <input type="number" name="diet" placeholder="Diet Information" />
                            <label class="fieldlabels">ACTIVITY: *</label> 
                            <input type="number" name="activity" placeholder="Physical activity level" />
                            <label class="fieldlabels">SLEEP: *</label> 
                            <input type="number" name="sleep" placeholder="Sleep Patterns" />
                            
                        </div> 
                            <input type="submit" name="next" class="submit action-button" value="Submit" /> 
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                            <!-- <form id="msform" method="POST" action="{{ url_for('predict') }}"> -->

                    </fieldset>
                    <!-- <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Finish:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 4 - 4</h2>
                                </div>
                            </div> <br><br>
                            <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                            <div class="row justify-content-center">
                                <div class="col-3"> <img src="{{url_for('static', filename='images/img.png')}}" class="fit-image"> </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">You Have Successfully Predicted Preeclampsia</h5>
                                </div>
                            </div>
                        </div>
                    </fieldset> -->
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}